@page
@model Pages.SolutionsModel

<h2>Solutions found</h2>
<table>
    <thead>
        <tr>
            <th>N</th>
            <th>Generator</th>
            <th>Validator</th>
            <th>Time Requested</th>
            <th>Solution</th>
            <th>Render</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var solution in Model.Solutions)
        {
        <tr>
            <td>@solution.N</td>
            <td>@solution.Generator</td>
            <td>@solution.Validator</td>
            <td>@solution.TimeRequested</td>
            <td>@solution.BoardSolution</td>
            <td><a href="">Render</a></td>
        </tr>
        }
    </tbody>
</table>